.app.dark {
  --bg-color: #4b0081;
  --inverted-bg-color: rgba(103, 129, 255, 0.7);

  --primary-color: #E0DB38;
  --secondary-color: #E0DB38;
  --inverted-primary-color: #FFFF00FF;
  --inverted-secondary-color: #FFFF00FF;
}