.app.light {
  --bg-color: rgba(103, 129, 255, 0.7);
  --inverted-bg-color: #4b0081;

  --primary-color: #FFFF00FF;
  --secondary-color: #FFFF00FF;
  --inverted-primary-color: #E0DB38;
  --inverted-secondary-color: #E0DB38;
}