.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  margin-right: 50px;
  * {
    margin-right: 25px;
  }
  margin-left: auto;
}